@model IEnumerable<PrivacyConsentDB.AccessRoles>

@{
    ViewBag.Title = "권한 관리";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>권한 관리</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modifieddate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modifier)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modifieddate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modifier)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
