@model PrivacyConsentDB.Dto.AccessAuthoritiesDto

@{
    ViewBag.Title = "권한별 페이지 접근 가능여부 관리";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var paths = new SelectList(Model.AccessPaths, "ID", "NAME");
    var roles = new SelectList(Model.AccessRoles, "ID", "NAME");
}

<h2>권한별 페이지 접근 가능여부 관리</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>AccessAuthorities</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AccessAuthorities.pathID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pathID", paths, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccessAuthorities.pathID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccessAuthorities.roleID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.DropDownList("roleID", roles, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.AccessAuthorities.roleID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
