@model IEnumerable<PrivacyConsentDB.AccessAuthorities>

@{
    ViewBag.Title = "권한별 페이지 접근 가능여부 관리";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>권한별 페이지 접근 가능여부 관리</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover table-striped" id="AATable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pathID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modifieddate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modifier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessPaths.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessRoles.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.createdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modifieddate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modifier)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#AATable').DataTable();
    })
</script>