@using PrivacyConsentDB.Commons
@model PrivacyConsentDB.Models.Privacy

@{
    ViewBag.Title = "Details";
    bool bvalid = Model.SENDCHANEL.HasFlag(Status.SendChannel.PFORCERX_INVALID);
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>개인정보활용동의<small></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="form-horizontal">
                            @if (bvalid)
                            {
                                <p class="validation-summary-valid bg-danger text-danger" style="padding:15px;">
                                    <span>이메일 또는 핸드폰 번호가 올바르지 않습니다.</span>
                                </p>
                            }
                            <div class="form-group">
                                @Html.Label("Company", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 input-group-sm">
                                    @Html.DropDownList("Companies", ViewBag.CompaniesList as IEnumerable<SelectListItem>, new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PCMSID, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 input-group-sm">
                                    @Html.EditorFor(model => model.PCMSID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NucleusKey, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 input-group-sm">
                                    @Html.EditorFor(model => model.NucleusKey, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.OneKey, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 input-group-sm">
                                    @Html.EditorFor(model => model.OneKey, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.OWNER, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 input-group-sm">
                                    @Html.EditorFor(model => model.OWNER, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.WKP_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 input-group-sm">
                                    @Html.EditorFor(model => model.WKP_NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.WKP_TEL, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 input-group-sm">
                                    @Html.EditorFor(model => model.WKP_TEL, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ZIP, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 input-group-sm">
                                    @Html.EditorFor(model => model.ZIP, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.FULL_ADDR, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 input-group-sm">
                                    @Html.EditorFor(model => model.FULL_ADDR, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IND_SP, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 input-group-sm">
                                    @Html.EditorFor(model => model.IND_SP, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IND_FULL_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 input-group-sm">
                                    @Html.EditorFor(model => model.IND_FULL_NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 input-group-sm">
                                    @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MOBILE, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 input-group-sm">
                                    @Html.EditorFor(model => model.MOBILE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">수신거부여부</label>
                                <div class="col-md-10 input-group-sm">
                                    <label class="checkbox-custom checkbox-inline" data-initialize="checkbox">
                                        @Html.EditorFor(model => model.Unsubscribe, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        <span class="checkbox-label">@Html.LabelFor(model => model.Unsubscribe)</span>
                                    </label>                                    
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CONSENT_CHANNEL, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 input-group-sm">
                                    @Html.EditorFor(model => model.CONSENT_CHANNEL, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CONSENTDATE, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 input-group-sm">
                                    @Html.EditorFor(model => model.CONSENTDATE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CONSENTVERSION, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 input-group-sm">
                                    @Html.EditorFor(model => model.CONSENTVERSION, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">동의여부</label>
                                <div class="col-md-10 input-group-sm">
                                    <label class="checkbox-custom checkbox-inline" data-initialize="checkbox">
                                        @Html.EditorFor(model => model.CONSENT_USE, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        <span class="checkbox-label">@Html.LabelFor(model => model.CONSENT_USE)</span>
                                    </label>

                                    @*CONSENT_MARKETING_AGREEMENT Added by Nagaraju as part of APC30683265i*@
                                    <label class="checkbox-custom checkbox-inline" data-initialize="checkbox">
                                        @Html.EditorFor(model => model.CONSENT_MARKETING_AGREEMENT, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        <span class="checkbox-label">@Html.LabelFor(model => model.CONSENT_MARKETING_AGREEMENT)</span>
                                    </label>

                                    <label class="checkbox-custom checkbox-inline" data-initialize="checkbox">
                                        @Html.EditorFor(model => model.CONSENT_TRUST, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        <span class="checkbox-label">@Html.LabelFor(model => model.CONSENT_TRUST)</span>
                                    </label>
                                    <label class="checkbox-custom checkbox-inline" data-initialize="checkbox">
                                        @Html.EditorFor(model => model.CONSENT_ABROAD, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        <span class="checkbox-label">@Html.LabelFor(model => model.CONSENT_ABROAD)</span>
                                    </label>
                                    <label class="checkbox-custom checkbox-inline" data-initialize="checkbox">
                                        @Html.EditorFor(model => model.CONSENT_SIGN, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        <span class="checkbox-label">@Html.LabelFor(model => model.CONSENT_SIGN)</span>
                                    </label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="control-label col-md-2">화이자링크</label>
                                <div class="col-md-10 input-group-sm">
                                    <div style="margin-top: 8px;"><a href="javascript:fn_link_open();" id="plink_a">열기</a></div>
                                </div>
                            </div>
                            <div class="form-group div-link">
                                <label class="control-label col-md-2">연락방법</label>
                                <div class="col-md-10 input-group-sm">
                                    <div class="radio" style="display: inline-block; float: left;">
                                        <label class="radio-custom" data-initialize="radio">
                                        @Html.RadioButtonFor( model => model.LINK_PHONE , "tel", new {@class="sr-only", @disabled="disabled"})근무처연락처</label>
                                    </div>
                                    <div class="radio" style="display: inline-block; float: left;">
                                        <label class="radio-custom" data-initialize="radio">
                                            @Html.RadioButtonFor(model => model.LINK_PHONE, "mobile", new { @class = "sr-only", @disabled = "disabled" })핸드폰</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group div-link">
                                <label class="control-label col-md-2">연락가능일정</label>
                                <div class="col-md-10 input-group-sm">
                                    @Html.HiddenFor(model => model.LINK_RESERVATION)
                                    <table class="table table-bordered table-schedule">
                                        <tr>
                                            <th></th>
                                            <th>월</th>
                                            <th>화</th>
                                            <th>수</th>
                                            <th>목</th>
                                            <th>금</th>
                                        </tr>
                                        <tr>
                                            <td>10:00</td>
                                            <td class="timetd"><input type="checkbox" id="m10" name="schedule" value="m10" /><label for="m10">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="t10" name="schedule" value="t10" /><label for="t10">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="w10" name="schedule" value="w10" /><label for="w10">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="h10" name="schedule" value="h10" /><label for="h10">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="f10" name="schedule" value="f10" /><label for="f10">&nbsp;</label></td>
                                        </tr>
                                        <tr>
                                            <td>11:00</td>
                                            <td class="timetd"><input type="checkbox" id="m11" name="schedule" value="m11" /><label for="m11">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="t11" name="schedule" value="t11" /><label for="t11">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="w11" name="schedule" value="w11" /><label for="w11">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="h11" name="schedule" value="h11" /><label for="h11">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="f11" name="schedule" value="f11" /><label for="f11">&nbsp;</label></td>
                                        </tr>
                                        <tr>
                                            <td>12:00</td>
                                            <td class="timetd"><input type="checkbox" id="m12" name="schedule" value="m12" /><label for="m12">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="t12" name="schedule" value="t12" /><label for="t12">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="w12" name="schedule" value="w12" /><label for="w12">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="h12" name="schedule" value="h12" /><label for="h12">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="f12" name="schedule" value="f12" /><label for="f12">&nbsp;</label></td>
                                        </tr>
                                        <tr>
                                            <td>13:00</td>
                                            <td class="timetd"><input type="checkbox" id="m13" name="schedule" value="m13" /><label for="m13">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="t13" name="schedule" value="t13" /><label for="t13">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="w13" name="schedule" value="w13" /><label for="w13">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="h13" name="schedule" value="h13" /><label for="h13">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="f13" name="schedule" value="f13" /><label for="f13">&nbsp;</label></td>
                                        </tr>
                                        <tr>
                                            <td>14:00</td>
                                            <td class="timetd"><input type="checkbox" id="m14" name="schedule" value="m14" /><label for="m14">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="t14" name="schedule" value="t14" /><label for="t14">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="w14" name="schedule" value="w14" /><label for="w14">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="h14" name="schedule" value="h14" /><label for="h14">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="f14" name="schedule" value="f14" /><label for="f14">&nbsp;</label></td>
                                        </tr>
                                        <tr>
                                            <td>15:00</td>
                                            <td class="timetd"><input type="checkbox" id="m15" name="schedule" value="m15" /><label for="m15">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="t15" name="schedule" value="t15" /><label for="t15">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="w15" name="schedule" value="w15" /><label for="w15">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="h15" name="schedule" value="h15" /><label for="h15">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="f15" name="schedule" value="f15" /><label for="f15">&nbsp;</label></td>
                                        </tr>
                                        <tr>
                                            <td>16:00</td>
                                            <td class="timetd"><input type="checkbox" id="m16" name="schedule" value="m16" /><label for="m16">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="t16" name="schedule" value="t16" /><label for="t16">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="w16" name="schedule" value="w16" /><label for="w16">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="h16" name="schedule" value="h16" /><label for="h16">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="f16" name="schedule" value="f16" /><label for="f16">&nbsp;</label></td>
                                        </tr>
                                        <tr>
                                            <td>17:00</td>
                                            <td class="timetd"><input type="checkbox" id="m17" name="schedule" value="m17" /><label for="m17">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="t17" name="schedule" value="t17" /><label for="t17">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="w17" name="schedule" value="w17" /><label for="w17">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="h17" name="schedule" value="h17" /><label for="h17">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="f17" name="schedule" value="f17" /><label for="f17">&nbsp;</label></td>
                                        </tr>
                                        <tr>
                                            <td>18:00</td>
                                            <td class="timetd"><input type="checkbox" id="m18" name="schedule" value="m18" /><label for="m18">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="t18" name="schedule" value="t18" /><label for="t18">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="w18" name="schedule" value="w18" /><label for="w18">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="h18" name="schedule" value="h18" /><label for="h18">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="f18" name="schedule" value="f18" /><label for="f18">&nbsp;</label></td>
                                        </tr>
                                        <tr>
                                            <td>19:00</td>
                                            <td class="timetd"><input type="checkbox" id="m19" name="schedule" value="m19" /><label for="m19">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="t19" name="schedule" value="t19" /><label for="t19">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="w19" name="schedule" value="w19" /><label for="w19">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="h19" name="schedule" value="h19" /><label for="h19">&nbsp;</label></td>
                                            <td class="timetd"><input type="checkbox" id="f19" name="schedule" value="f19" /><label for="f19">&nbsp;</label></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">동의내역</label>
                                <div class="col-md-10 input-group-sm">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>동의서</th>
                                                <th>수집/이용동의</th>
                                                <th>마케팅 활용 동의</th>    @*CONSENT_MARKETING_AGREEMENT Added by Nagaraju as part of APC30683265i*@
                                                <th>위탁동의</th>
                                                <th>국외이전동의</th>
                                                <th>서명</th>
                                                <th>동의일자</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Consents)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => item.CONSENT_VERSION)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.CONSENT_USE)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.CONSENT_MARKETING_AGREEMENT)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.CONSENT_TRUST)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.CONSENT_ABROAD)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.CONSENT_SIGN)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.CONSENT_DATE)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
@if (Model.approval != null)
{
    var ap1 = EnumHelper<Status.ApprovalStatus>.GetDisplayValue(Model.approval.status);
                            <div class="form-group">
                                <label class="control-label col-md-2">승인/반려</label>
                                <div class="col-md-10 input-group-sm">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>상태</th>
                                                <th>사유</th>
                                                <th>승인자</th>
                                                <th>일시</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                    <td>@Html.DisplayFor(model => ap1)</td>
                                                    <td>@Html.DisplayFor(model => model.approval.message)</td>
                                                    <td>@Html.DisplayFor(model => model.approval.modifier)</td>
                                                    <td>@Html.DisplayFor(model => model.approval.modifieddate)</td>
                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
}
@if(MyRoleManager.hasRole(MyRoleManager.RoleType.SYSTEMADMIN) || MyRoleManager.hasRole(MyRoleManager.RoleType.DCEADMIN) || MyRoleManager.hasRole(MyRoleManager.RoleType.MARKETING)) {
                            <div class="form-group">
                                <label class="control-label col-md-2">수정내역</label>
                                <div class="col-md-10 input-group-sm">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>수정자</th>
                                                <th>수정일시 (KST)</th>
                                                <th>수정내용</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.PrivacyLogs)
                                            {
                                                var dtmodify = TimeZoneInfo.ConvertTime(item.createdate, TimeZoneInfo.Utc, TimeZoneInfo.FindSystemTimeZoneById("Korea Standard Time")).ToString();

                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => item.creater)</td>
                                                    <td>@Html.DisplayFor(modelItem => dtmodify)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.changes)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
}

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10 input-group-sm text-right">
                                    @if ((Model.approval != null && Model.approval.status == Status.ApprovalStatus.Request) || MyRoleManager.hasRole(MyRoleManager.RoleType.SYSTEMADMIN) || MyRoleManager.hasRole(MyRoleManager.RoleType.DCEADMIN))
                                    {
                                        @Html.ActionLink("수정", "Edit", new { id = Model.ID }, new { @class = "btn btn-sm btn-info" })
                                    }
                                    <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-sm btn-default">목록</a>
                                    @if ((Model.approval != null && Model.approval.status == Status.ApprovalStatus.Request) && (MyRoleManager.hasRole(MyRoleManager.RoleType.SYSTEMADMIN) || MyRoleManager.hasRole(MyRoleManager.RoleType.DCEADMIN)))
                                    {
                                        @Html.ActionLink("승인요청 확인", "Index", "Approvals",null, new { @class = "btn btn-sm btn-success" })
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
<script>
    function fn_link_open() {
        $(".div-link").toggle();
        if ($(".div-link").is(":hidden")) {
            $("#plink_a").html("열기");
        } else {
            $("#plink_a").html("닫기");
        }
    }
    $(document).ready(function () {
        var LINK_RESERVATION = $("#LINK_RESERVATION").val();
        if(LINK_RESERVATION == null || LINK_RESERVATION.length < 1) return;
        var arr = LINK_RESERVATION.split(",");
        for (var i = 0 ; i < arr.length ; i++) {
            $("#" + arr[i]).prop("checked", true);
        }
        $("input[name='schedule']").attr("disabled", true);
        fn_link_open();
    });
</script>
